# همه فایل‌های JS رو به عنوان JavaScript شناسایی کن
*.js linguist-language=JavaScript

# فایل‌های HTML رو هم به JavaScript نسبت بده، ولی درصدش کمتر تاثیر بذاره
*.html linguist-language=JavaScript

# فایل‌های CSS رو هم می‌تونی به JavaScript نسبت بدی، یا اجازه بدی Linguist خودش تشخیص بده
*.css linguist-language=CSS