@import "tailwindcss";
/* npx @tailwindcss/cli -i ./src/style/todo/input.css -o ./src/style/todo/output.css --watch */

@layer base {
    @font-face {
        font-family: '300';
        src: url(../../asset/font/Poppins-Light.ttf);
    }

    @font-face {
        font-family: '400';
        src: url(../../asset/font/Poppins-Regular.ttf);
    }

    @font-face {
        font-family: '500';
        src: url(../../asset/font/Poppins-Medium.ttf);
    }

    @font-face {
        font-family: '600';
        src: url(../../asset/font/Poppins-SemiBold.ttf);
    }

    @font-face {
        font-family: '700';
        src: url(../../asset/font/Poppins-Bold.ttf);
    }

    @font-face {
        font-family: '800';
        src: url(../../asset/font/Poppins-ExtraBold.ttf);
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes taadaa {
        0% {
            transform: scaleX(1);
        }

        10%,
        20% {
            transform: scale3d(.95, .95, .95) rotate(-10deg);
        }

        30%,
        50%,
        70%,
        90% {
            transform: scaleX(1) rotate(10deg);
        }

        40%,
        60%,
        80% {
            transform: rotate(-10deg);
        }

        100% {
            transform: scaleX(1);
        }
    }

    .scrollHide {
        overflow-y: auto;
        /* یا scroll */
        scrollbar-width: none;
        /* برای Firefox */
        -ms-overflow-style: none;
        /* برای IE و Edge قدیمی */
    }

    .scrollHide::-webkit-scrollbar {
        display: none;
        /* برای Chrome، Safari و Opera */
    }

}

@layer components {
    .spin {
        animation: spin 3s linear infinite;
    }

    .tada {
        animation: taadaa 1.5s linear infinite;
    }

}

@layer utilities {
    .bt {
        @apply border border-white
    }

    .shadoow {
        box-shadow: 0 .75rem 1.5rem #12263f08;
    }

    .shadoow2 {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    }
}

@theme{
    --color-yellow: #FFBE0B;
    --color-pink: #FF006E;
    --color-blue: #3A86FF;
    --color-purple: #8338EC;
    --color-orange: #FB5607;
    --color-green: #B4E50D;
}
