:root {
    --bg-color-one: #ffffff;
    --bg-color-two: #F8F8FB;
    --aside-txt-color: #545a6d;
    --aside-icon-color: #7f8387;
    --aside-item-act-color: #556ee6;
    --aside-logo-color: black;
    --header-item-color: #555b6d;
    --header-text-color: #4e5460;
    --header-search-text: #343a40;
    --header-search-bg: #F3F3F9;
    --secondary-text-color: #74788d;
    /* ---------- */
    --search-h1-color: #495057;
    --search-title-color: #495057;
    --search-btn-color: #EFF2F7;
    --search-border-color: #00000011;
    /* ---------- */
    --txt-color: #343a40;
    /* ---------- */
    --txt-color2: #74788d;

}

body.dark {
    --bg-color-one: #2A3042;
    --bg-color-two: #222736;
    --aside-txt-color: #a6b0cf;
    --aside-icon-color: #6a7187;
    --aside-item-act-color: #ffffff;
    --aside-logo-color: white;
    --header-item-color: #a6b0cf;
    --header-text-color: #a6b0cf;
    --header-search-text: white;
    --header-search-bg: #262B3C;
    --secondary-text-color: white;
    /* ---------- */
    --search-h1-color: #f6f6f6;
    --search-title-color: #a6b0cf;
    --search-btn-color: #32394E;
    --search-border-color: #ffffff11;
    /* ---------- */
    --txt-color: white;
    /* ---------- */
    --txt-color2: #c3cbe4;


}

body.color1 {
    --bg-color-one: #556EE6;

}

.mode-active {
    background-color: #556EE6 !important;
    color: white !important;
}

.menu-icon {
    width: 70px !important;

    >header {
        >figure {
            >img {
                margin-right: 0 !important;
            }

            >figcaption {
                display: none !important;
            }
        }
    }

    >nav {
        >ul {
            >li {
                justify-content: center !important;

                >h2 {
                    display: none !important;
                    margin-left: 0 !important;
                }

                >div {
                    justify-content: center !important;

                    >h2 {
                        display: none !important;
                        margin-left: 0 !important;
                    }
                }

                &:nth-of-type(2) {
                    >div {
                        >div {
                            >h2 {
                                display: none !important;
                                margin-left: 0 !important;
                            }
                        }

                        >svg {
                            display: none !important;
                        }
                    }

                    >ul {
                        display: none !important;
                    }
                }
            }
        }
    }
}

.menu-icon2 {
    width: calc(100% - 70px) !important;
}

.nav-active {
    >* {
        color: var(--aside-item-act-color) !important;
    }

    >div>div>* {
        color: var(--aside-item-act-color) !important;
    }

    >div>svg {
        color: var(--aside-item-act-color) !important;
        transform: rotate(-180deg) !important;
    }
}

.active-list {
    height: 208px;
    padding-inline: 40px;
    padding-top: 12px;
}

.active-task {
    border-radius: 4px 4px 0 0 !important;

    >div {
        &:nth-of-type(1) {
            >div>div {
                >svg {
                    &:nth-of-type(1) {
                        opacity: 1 !important;
                        visibility: visible !important;
                    }

                    &:nth-of-type(2) {
                        opacity: 1 !important;
                        visibility: visible !important;
                    }

                    &:nth-of-type(3) {
                        opacity: 1 !important;
                        visibility: visible !important;
                    }
                }
            }
        }

        &:nth-of-type(2) {
            height: 200px !important;
        }
    }
}