#contextMenu {
    display: none;
    position: absolute;
    z-index: 120;
    width: 300px;
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.11);

    >ul {
        width: 100%;
        height: 100%;

        >li {
            width: 100%;

            >a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 15px;
                font-size: 14px;
                color: #ffffffa6;
                font-family: '400';
                transition: .3s ease-in-out;
                text-transform: capitalize;

                >figure {
                    >img {
                        width: 25px;
                    }
                }

                &:hover{
                    background-color: rgba(255, 255, 255, 0.096);
                }
            }
        }
    }
}